<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burger's of the Day!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<header class="">
		
			<p class="cWhitebgBlack">Restaurant App</p>
			<h1 class="cWhitebgBlack">Eat-Da-Burger!</h1>
	</header>
	<main>
		{{{ body }}}
	</main>
</body>

</html>